.tasks-page .select,
.tasks-page .select2 {
  width: auto;
  margin-bottom: 30px;
  min-width: 200px;
}

@media screen and (max-width: 1450px) {
  .tasks-page .select,
  .tasks-page .select2 {
    width: 20px;
    min-width: 150px;
  }
}

.tasks-page .post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #636b6f;
}

@media screen and (max-width: 1450px) {
  .tasks-page .post {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}

.tasks-page .post a {
  text-decoration: none;
}

.tasks-page .post p,
.tasks-page .post div {
  color: #cfcedc;
}

.tasks-page .post p.title,
.tasks-page .post div.title {
  position: relative;
  font-weight: bold;
  padding-right: 50px;
}

@media screen and (max-width: 1450px) {
  .tasks-page .post p.title,
  .tasks-page .post div.title {
    padding-right: 35px;
  }
}

.tasks-page .post p.title.status-passed::after,
.tasks-page .post div.title.status-passed::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/images/check.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1450px) {
  .tasks-page .post p.title.status-passed::after,
  .tasks-page .post div.title.status-passed::after {
    width: 35px;
  }
}

.tasks-page .post p.title.status-failed::after,
.tasks-page .post div.title.status-failed::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/images/cross.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1450px) {
  .tasks-page .post p.title.status-failed::after,
  .tasks-page .post div.title.status-failed::after {
    width: 35px;
  }
}

.tasks-page .post p.post-see-more,
.tasks-page .post div.post-see-more {
  margin-top: 10px;
  color: #FFCA4F;
  font-weight: bold;
}

.tasks-page .post .post-category {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #f36624;
}

.tasks-page .pagination {
  position: relative;
  margin-top: 30px;
  height: 20px;
}

.tasks-page .pagination .pagination-link {
  color: #cfcedc;
  display: inline-block;
}

.tasks-page .pagination .pagination-link.prev {
  margin-right: 20px;
}

