.task-page > .title {
  color: #FFCA4F;
  border-bottom-style: solid;
  border-bottom-color: #FFCA4F;
  border-bottom-width: 2px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.collapsible {
  position: relative;
  background-color: #78909C;
  color: #37474F;
  cursor: pointer;
  padding: 18px;
  margin: 50px 0 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

@media screen and (max-width: 1450px) {
  .collapsible {
    padding: 10px;
    margin: 30px 0 5px;
  }
}

.collapsible::after {
  content: '+';
  color: #37474F;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 36px;
}

@media screen and (max-width: 1450px) {
  .collapsible::after {
    font-size: 24px;
  }
}

.collapsible.active::after {
  content: "\2212";
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.submit-answer {
  margin-top: 100px;
}

.submit-answer p {
  color: #f36624;
}

@media screen and (max-width: 1450px) {
  .submit-answer {
    margin-top: 70px;
  }
}

.submit-answer .closed input {
  width: 100%;
  padding: 10px 10px;
}

.submit-answer .submit-answer-button {
  display: block;
  color: white;
  background: #ff9d1b;
  width: 25%;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 10px;
}

.submit-answer .submit-answer-button:hover {
  background: #f36624;
}

.response-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.response-popup.active {
  display: block;
}

.response-popup .popup-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}

.response-popup .correct,
.response-popup .incorrect {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: auto;
  background-color: white;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.response-popup .correct.active,
.response-popup .incorrect.active {
  display: block;
}

.response-popup .correct .status-image,
.response-popup .incorrect .status-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

.response-popup .correct .status-text,
.response-popup .incorrect .status-text {
  width: 100%;
  text-align: center;
  color: #263238;
  margin-bottom: 20px;
}

.response-popup .level-up {
  display: none;
  padding: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: lightgreen;
}

.response-popup .level-up.active {
  display: block;
  /** {
                opacity: 1 !important;
            }

            img {
                transform: translateX(0) !important;
            }*/
}

.response-popup .level-up .level-text {
  width: 100%;
  text-align: center;
  color: #263238;
  margin-bottom: 20px;
}

.response-popup .level-up .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.response-popup .level-up .flex-container p {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
}

.response-popup .level-up .flex-container p.next-level {
  font-weight: bold;
  color: #263238;
}

.response-popup .level-up .flex-container img {
  width: 30px;
  height: 30px;
}

.login-required {
  margin-top: 30px;
}

