.task-page .status-box {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
  background-color: red;
  color: white;
}

@media screen and (max-width: 1450px) {
  .task-page .status-box {
    padding: 10px;
    margin-bottom: 20px;
  }
}

.task-page .status-box.done {
  background-color: lightgreen;
}

.task-page .status-box.done .status.complete {
  display: inline-block;
}

.task-page .status-box.done .status.incomplete {
  display: none;
}

.task-page .status-box .status.complete {
  display: none;
}

.task-page .status-box .score {
  float: right;
}

.task-page .tasks {
  padding: 5%;
  background-color: #78909C;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.task-page .tasks .task {
  position: absolute;
  color: white;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  opacity: 0;
}

.task-page .tasks .task.active {
  display: block;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.task-page .tasks .task.prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.task-page .tasks .task.next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.task-page .tasks .task.first .title .prev {
  display: none;
}

.task-page .tasks .task.last .title .next {
  display: none;
}

.task-page .tasks .task .title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .task-page .tasks .task .title {
    margin-bottom: 15px;
  }
}

.task-page .tasks .task .title .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  padding-top: 20px;
  background-image: url(/images/prev-task.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 0;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .task-page .tasks .task .title .prev {
    width: 15px;
    padding-top: 15px;
  }
}

.task-page .tasks .task .title .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  padding-top: 20px;
  background-image: url(/images/next-task.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .task-page .tasks .task .title .next {
    width: 15px;
    padding-top: 15px;
  }
}

.task-page .tasks .task .collapsible {
  background: #455A64;
  color: white;
}

.task-page .tasks .task .collapsible::after {
  color: white;
}

.task-page .tasks .task .submit-answer {
  margin-top: 50px;
}

@media screen and (max-width: 1450px) {
  .task-page .tasks .task .submit-answer {
    margin-top: 35px;
  }
}

.task-page .tasks .task .submit-answer p {
  color: black;
}

.task-page .tasks .task .submit-answer .answer {
  color: black;
}

.task-page .tasks .submit-form-button {
  display: block;
  color: white;
  background: #455A64;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  margin-top: 70px;
}

@media screen and (max-width: 1450px) {
  .task-page .tasks .submit-form-button {
    margin-top: 50px;
    padding: 5px 0;
  }
}

