.fs-72 {
	font-size: 72px;
	line-height: 80px;

    @media screen and (max-width: 1650px) {
		font-size: 56px;
		line-height: 60px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 46px;
		line-height: 50px;
	}

    @media screen and (max-width: 960px) {
		font-size: 72px;
		line-height: 80px;
	}

    @media screen and (max-width: 600px) {
		font-size: 46px;
		line-height: 50px;
	}

    @media screen and (max-width: 500px) {
		font-size: 35px;
		line-height: 40px;
	}

    @media screen and (max-width: 350px) {
		font-size: 24px;
		line-height: 26px;
	}
}

.fs-64 {
	font-size: 64px;
	line-height: 68px;

    @media screen and (max-width: 1650px) {
		font-size: 52px;
		line-height: 56px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 45px;
		line-height: 48px;
	}

    @media screen and (max-width: 960px) {
		font-size: 64px;
		line-height: 68px;
	}

    @media screen and (max-width: 600px) {
		font-size: 45px;
		line-height: 48px;
	}

    @media screen and (max-width: 500px) {
		font-size: 20px;
		line-height: 22px;
	}
}

.fs-46 {
	font-size: 46px;
	line-height: 52px;

    @media screen and (max-width: 1650px) {
		font-size: 40px;
		line-height: 44px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 32px;
		line-height: 38px;
	}

    @media screen and (max-width: 960px) {
		font-size: 46px;
		line-height: 52px;
	}

    @media screen and (max-width: 600px) {
		font-size: 32px;
		line-height: 38px;
	}

    @media screen and (max-width: 500px) {
		font-size: 20px;
		line-height: 22px;
	}
}

.fs-38 {
	font-size: 38px;
	line-height: 42px;

    @media screen and (max-width: 1650px) {
		font-size: 32px;
		line-height: 34px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 27px;
		line-height: 30px;
	}

    @media screen and (max-width: 960px) {
		font-size: 38px;
		line-height: 42px;
	}

    @media screen and (max-width: 600px) {
		font-size: 27px;
		line-height: 30px;
	}

    @media screen and (max-width: 500px) {
		font-size: 18px;
		line-height: 20px;
	}
}

.fs-36 {
	font-size: 36px;
	line-height: 40px;

    @media screen and (max-width: 1650px) {
		font-size: 30px;
		line-height: 32px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 25px;
		line-height: 28px;
	}

    @media screen and (max-width: 960px) {
		font-size: 36px;
		line-height: 40px;
	}

    @media screen and (max-width: 600px) {
		font-size: 25px;
		line-height: 28px;
	}

}

.fs-32 {
	font-size: 32px;
	line-height: 38px;

    @media screen and (max-width: 1650px) {
		font-size: 30px;
		line-height: 32px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 28px;
		line-height: 32px;
	}

    @media screen and (max-width: 960px) {
		font-size: 32px;
		line-height: 38px;
	}

    @media screen and (max-width: 600px) {
		font-size: 28px;
		line-height: 32px;
	}
}

.fs-30 {
	font-size: 30px;
	line-height: 34px;

    @media screen and (max-width: 1650px) {
		font-size: 28px;
		line-height: 30px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 24px;
		line-height: 28px;
	}

    @media screen and (max-width: 960px) {
		font-size: 30px;
		line-height: 34px;
	}

    @media screen and (max-width: 600px) {
		font-size: 24px;
		line-height: 28px;
	}
}

.fs-28 {
	font-size: 28px;
	line-height: 32px;

    @media screen and (max-width: 1650px) {
		font-size: 26px;
		line-height: 28px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 22px;
		line-height: 26px;
	}

    @media screen and (max-width: 960px) {
		font-size: 28px;
		line-height: 32px;
	}

    @media screen and (max-width: 600px) {
		font-size: 22px;
		line-height: 26px;
	}
}

.fs-26 {
	font-size: 26px;
	line-height: 30px;

    @media screen and (max-width: 1650px) {
		font-size: 24px;
		line-height: 26px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 20px;
		line-height: 24px;
	}

    @media screen and (max-width: 960px) {
		font-size: 26px;
		line-height: 30px;
	}

    @media screen and (max-width: 600px) {
		font-size: 20px;
		line-height: 24px;
	}
}

.fs-24 {
	font-size: 24px;
	line-height: 28px;

    @media screen and (max-width: 1650px) {
		font-size: 20px;
		line-height: 24px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 17px;
		line-height: 21px;
	}

    @media screen and (max-width: 960px) {
		font-size: 24px;
		line-height: 28px;
	}

    @media screen and (max-width: 600px) {
		font-size: 17px;
		line-height: 21px;
	}
}

.fs-22 {
	font-size: 22px;
	line-height: 26px;

    @media screen and (max-width: 1650px) {
		font-size: 20px;
		line-height: 24px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 16px;
		line-height: 18px;
	}

    @media screen and (max-width: 960px) {
		font-size: 22px;
		line-height: 24px;
	}

    @media screen and (max-width: 600px) {
		font-size: 16px;
		line-height: 18px;
	}
}

.fs-20 {
	font-size: 20px;
	line-height: 20px;

    @media screen and (max-width: 1650px) {
		font-size: 18px;
		line-height: 18px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 15px;
		line-height: 15px;
	}

    @media screen and (max-width: 960px) {
		font-size: 20px;
		line-height: 20px;
	}

    @media screen and (max-width: 600px) {
		font-size: 15px;
		line-height: 15px;
	}
}

.fs-18 {
	font-size: 18px;
	line-height: 18px;

    @media screen and (max-width: 1650px) {
		font-size: 16px;
		line-height: 16px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 14px;
		line-height: 14px;
	}

    @media screen and (max-width: 960px) {
		font-size: 18px;
		line-height: 18px;
	}

    @media screen and (max-width: 600px) {
		font-size: 14px;
		line-height: 14px;
	}
}

.fs-17 {
	font-size: 17px;
	line-height: 25px;

    @media screen and (max-width: 1650px) {
		font-size: 15px;
		line-height: 18px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 13px;
		line-height: 18px;
	}

    @media screen and (max-width: 960px) {
		font-size: 17px;
		line-height: 25px;
	}

    @media screen and (max-width: 600px) {
		font-size: 13px;
		line-height: 18px;
	}
}

.fs-16 {
	font-size: 16px;
	line-height: 20px;

    @media screen and (max-width: 1650px) {
		font-size: 14px;
		line-height: 16px;
	}

	@media screen and (max-width: 1450px) {
		font-size: 12px;
		line-height: 15px;
	}

    @media screen and (max-width: 960px) {
		font-size: 16px;
		line-height: 20px;
	}

    @media screen and (max-width: 600px) {
		font-size: 12px;
		line-height: 15px;
	}
}

.fs-15 {
	font-size: 15px;
	line-height: 19px;

	@media screen and (max-width: 1450px) {
		font-size: 11px;
		line-height: 14px;
	}

    @media screen and (max-width: 960px) {
		font-size: 15px;
		line-height: 19px;
	}

    @media screen and (max-width: 600px) {
		font-size: 11px;
		line-height: 14px;
	}
}

.fs-14 {
	font-size: 14px;
	line-height: 18px;

	@media screen and (max-width: 1450px) {
		font-size: 11px;
		line-height: 14px;
	}

    @media screen and (max-width: 960px) {
		font-size: 14px;
		line-height: 18px;
	}

    @media screen and (max-width: 600px) {
        font-size: 11px;
        line-height: 14px;
    }
}

.fs-13 {
	font-size: 13px;
	line-height: 13px;

	@media screen and (max-width: 1450px) {
		font-size: 10px;
		line-height: 10px;
	}

    @media screen and (max-width: 960px) {
		font-size: 13px;
		line-height: 13px;
	}

    @media screen and (max-width: 600px) {
		font-size: 10px;
		line-height: 10px;
	}
}
