@import "_variables.scss";

body, html {
    background-color: $color-lighter;
    overflow-x: hidden;

    @media screen and (min-width: 961px) {
        height: 100vh;
    }
}


#app {
    height: 100%;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: $color-main;

    @media screen and (max-width: 1450px) {
        height: 60px;
    }

    @media screen and (max-width: 600px) {
        height: 40px;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 8.33%;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 960px) {
            height: 60px;
            padding: 0;
            padding-left: 30px;
            padding-right: 30px;
        }

        @media screen and (max-width: 600px) {
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
        }

        .back-button {
            display: none;

            &.close {
                opacity: 1 !important;

                span {
                    text-shadow: none !important;
                }
            }

            @media screen and (max-width: 960px) {
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-50%, -50%);
                display: none !important;
                width: auto;
                margin-bottom: 0px;
                height: 20px;

                &.active {
                    display: inline-block !important;
                }

                img {
                    height: 60%;
                    width: auto;
                }

                span {
                    color: white !important;
                }
            }
        }

        .logo-link {
            display: inline-block;
            height: 50%;

            .logo {
                display: none;
                height: 100%;
                width: auto;

                &.desktop {
                    @media screen and (min-width: 960px) {
                        display: inline-block;
                    }
                }

                &.mobile {
                    @media screen and (max-width: 960px) {
                        display: inline-block;
                    }
                }

                /*&.active {
                    display: inline-block;
                }*/
            }
        }

        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:before, &:after {
                content: none;
            }

            @media screen and (max-width: 960px) {
                position: fixed;
                justify-content: space-between;
                transform: none;
                top: auto;
                bottom: 0;
                left: 0;
                height: 100px;
                width: 100vw;
                background-color: white;
                padding: 0 30px
            }

            @media screen and (max-width: 600px) {
                height: 60px;
                width: 100vw;
                padding: 0 25px
            }

            a {
                text-decoration: none !important;

                &:last-child {
                    .nav-item {
                        margin-right: 0 !important;
                    }
                }
            }

            .nav-item {
                color: #cfcedc;
                margin-right: 60px;
                padding: 10px 20px;
                cursor: pointer;


                &:hover {
                    background-color: $color-darker;
                    color: white;

                    @media screen and (max-width: 960px) {
                        background-color: transparent;
                        color: #8d8a98;
                    }
                }

                &.active {
                    color: #fafafb;
                }

                p {
                    margin: 0;
                    white-space: nowrap;
                }

                @media screen and (max-width: 1450px) {
                    margin-right: 42px;
                    padding: 7px 14px;
                }

                @media screen and (max-width: 960px) {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    padding-top: 80px;
                    height: auto;
                    width: 65px;
                    color: #5b576b;
                    background-size: 80% auto;
                    background-position: top center;
                    background-repeat: no-repeat;
                    text-align: center;

                    p {
                        width: auto;
                        position: absolute;
                        left: 50%;
                        top: 55px;
                        transform: translateX(-50%);
                    }

                    &.offers {
                        background-image: url(/images/offers-footer.png);
                    }

                    &.contact {
                        background-image: url(/images/contact-footer.png);
                    }

                    &.blog {
                        background-image: url(/images/blog-footer.png);
                    }

                    &.about {
                        background-image: url(/images/about-footer.png);
                    }
                }

                @media screen and (max-width: 600px) {
                    padding-top: 60px;
                    width: 45px;

                    background-size: 70% auto;

                    p {
                        top: 40px;
                    }
                }

                @media screen and (max-width: 400px) {
                    padding-top: 50px;
                    width: 40px;

                    p {
                        top: 30px;
                    }
                }

                &.active {

                    @media screen and (max-width: 960px) {
                        color: #ff6632;

                        &.offers {
                            background-image: url(/images/offers-footer-active.png);
                        }

                        &.contact {
                            background-image: url(/images/contact-footer-active.png);
                        }

                        &.blog{
                            background-image: url(/images/blog-footer-active.png);
                        }

                        &.about {
                            background-image: url(/images/about-footer-active.png);
                        }
                    }
                }


            }
        }

        .header-buttons {
            height: 100%;
            width: 160px;

            @media screen and (max-width: 1450px) {
                width: 120px;
            }

            @media screen and (max-width: 450px) {
                position: absolute;
                right: 0;
                top: 0;
            }

            .header-button {
                display: inline-block;
                width: 50%;
                height: 100%;
                overflow: hidden;
                cursor: pointer;

                &.language-switcher {
                    overflow: visible;


                    .wrapper {
                        position: relative;
                        display: inline-flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        height: 100%;
                        width: 200%;
                        background-color: $color-main;

                        @media screen and (max-width: 960px) {
                            flex-direction: column;
                            height: 200%;
                            width: 100%;
                            transform: translateY(-50%);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $color-main;

                            @media screen and (max-width: 960px) {
                                content: none;
                            }
                        }

                        &.dropped {
                            .active {
                                order: -1 !important;
                            }
                        }

                        &:hover, &.dropped {

                            @media screen and (max-width: 960px) {
                                transform: translateY(0);
                            }

                            .lang {
                                opacity: 1 !important;
                                pointer-events: all !important;
                                visibility: visible !important;
                                transform: translateX(-100%);

                                @media screen and (max-width: 960px) {
                                    transform: translateX(0);
                                }

                                &.active {
                                    background-color: $color-darker;
                                }
                            }
                        }

                        .lang {
                            position: relative;
                            width: 50%;
                            height: 100%;
                            transition: transform 1s ease;

                            @media screen and (max-width: 960px) {
                                width: 100%;
                                height: 50%;
                            }

                            &.active {
                                order: -1;

                                @media screen and (max-width: 960px) {
                                    order: 1;
                                }
                            }

                            &:hover {
                                background-color: $color-darker;
                            }

                            &:not(.active) {
                                opacity: 0;
                                pointer-events: none;
                                visibility: hidden;
                            }

                            a {
                                display: block;
                                width: 100%;
                                height: 100%;

                                .lang-text {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: #fafafb;
                                }
                            }
                        }
                    }
                }

                &.search-button {
                    position: relative;
                    background-image: url(/images/search.png);
                    background-size: 20% auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    float: right;
                    z-index: 1;

                    &:hover, &.active {
                        background-color: $color-darker;
                    }
                }
            }
        }
    }

    .search-wrapper {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);

        &.active {
            display: block;
        }

        @media screen and (max-width: 1450px) {
            top: 60px;
            height: calc(100vh - 60px);
        }

        @media screen and (max-width: 600px) {
            top: 40px;
            height: calc(100vh - 40px);
        }

        .black-filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.6;
        }

        .search-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            padding: 4.16% 8.33%;
            background-color: $color-darker;
            z-index: 2;
            max-height: 100%;

            @media screen and (max-width: 960px) {
                height: 100%;
                padding: 30px;
                overflow-y: auto;
            }

            @media screen and (max-width: 600px) {
                padding: 20px;
            }

            .selects {
                position: relative;
                width: 100%;
                height: 28px;
                margin-bottom: 20px;

                @media screen and (max-width: 1450px) {
                    height: 70px;
                }

                &>select, &>input, &>div, &>span {
                    position: absolute;
                    top: 0;
                    width: 20% !important;
                    height: 28px !important;

                    &:nth-child(2) {
                        left: 0;
                    }

                    &:nth-child(4), &:nth-child(3) {
                        left: 27%;
                    }

                    &:nth-child(6), &:nth-child(5) {
                        left: 54%;
                    }

                    &:nth-child(8), &:nth-child(7) {
                        left: 80%;
                    }

                    .picker__holder {
                        max-height: calc(28px + 1em) !important;
                    }

                    &.picker.picker--opened {
                        .picker__holder {
                            max-height: 10000px !important;
                        }
                    }

                    &.categories-wrapper {
                        &>* {
                            width: 100% !important;
                            height: 100% !important;

                            .select2-selection {
                                height: 28px !important;
                                min-height: 28px !important;
                            }
                        }
                    }

                    @media screen and (max-width: 960px) {
                        width: 45% !important;

                        &:nth-child(2) {
                            left: 0;
                        }

                        &:nth-child(4), &:nth-child(3) {
                            left: 55%;
                        }

                        &:nth-child(6), &:nth-child(5) {
                            top: 40px;
                            left: 0;
                        }

                        &:nth-child(8), &:nth-child(7) {
                            top: 40px;
                            left: 55%;

                            .picker__holder {
                                right: 0;
                            }
                        }

                        .picker__holder {
                            width: 200%;
                        }
                    }
                }
            }

            .search-input {
                position: relative;
                width: 100%;
                margin-bottom: 4.95%;

                input {
                    padding: 2.08% 0;
                    background: transparent;
                    width: 100%;
                    border-style: none;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: #8e8b98;
                    outline: none;
                    color: #ffffff;
                }

                img {
                    position: absolute;
                    height: 25px;
                    width: auto;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    @media screen and (max-width: 1450px) {
                        height: 15px;
                    }
                }
            }

            .results {
                display: none;
                justify-content: space-between;
                flex-wrap: nowrap;
                width: 100%;

                &.active {
                    display: flex;
                }

                @media screen and (max-width: 960px) {
                    height: auto;
                    flex-direction: column;
                }

                .result {
                    width: 30%;
                    padding: 10px 0;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: white;

                    @media screen and (max-width: 960px) {
                        width: 100%;
                    }

                    .title {
                        color: white;
                    }

                    a {
                        text-decoration: none !important;
                    }

                    .posts {
                        width: 100%;
                        margin-top: 40px;

                        @media screen and (max-width: 1450px) {
                            margin-top: 25px;
                        }

                        @media screen and (max-width: 960px) {
                            margin-top: 10px;
                        }

                        a {
                            text-decoration: none !important;
                        }

                        .post {
                            display: inline-block;
                            position: relative;

                            &.small {
                                left: auto !important;
                                right: 0 !important;
                                width: 100% !important;
                                height: auto !important;
                                overflow: hidden;

                                @media screen and (max-width: 960px) {
                                    width: 60% !important;
                                }

                                @media screen and (max-width: 600px) {
                                    width: 85% !important;
                                }

                                @media screen and (max-width: 350px) {
                                    width: 92% !important;
                                }

                                &.prev {
                                    top: auto !important;
                                    bottom: 0 !important;
                                }

                                .post-texts {
                                    display: inline-block;
                                    padding-left: 0;
                                    padding-right: 5%;
                                    float: right;
                                    width: 100%;

                                    .offer-category {
                                        margin-top: 10px;
                                        color: #f36624;

                                        @media screen and (max-width: 1450px) {
                                            margin-top: 6px;
                                        }
                                    }

                                    .offer-title {
                                        white-space: nowrap;
                                        overflow: hidden;
                                        color: white;
                                    }

                                    .description {
                                        color: #ff9d1b;
                                    }
                                }
                            }
                        }
                    }

                    .see-more {
                        display: block;
                        width: 100%;
                        text-align: center;
                        color: #ff9d1b;
                        margin-top: 40px;

                        @media screen and (max-width: 1450px) {
                            margin-top: 30px;
                        }

                        @media screen and (max-width: 960px) {
                            margin-top: 0px;
                            margin-bottom: 10px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.central-content {
    display: inline-block;
    position: relative;
    top: 130px;
    width: 40%;
    left: 30%;
    border-style: solid;
    border-width: 2px;
    border-color: $color-main;
    border-radius: 20px;
    background-color: $color-main;
    color: #cfcedc;
    padding: 30px;
    margin-bottom: 50px;

    @media screen and (max-width: 1450px) {
        top: 90px;
        padding: 20px;
        margin-bottom: 35px;
    }

    @media screen and (max-width: 960px) {
        position: relative;
        width: 90%;
        margin: 30px;
        width: calc(100% - 60px);
        left: auto;
        top: auto;
    }

    @media screen and (max-width: 600px) {
        margin: 20px;
        width: calc(100% - 40px);
    }
}

.left-content {
    display: inline-block;
    position: fixed;
    top: 130px;
    left: 2.5%;
    width: 25%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: 1450px) {
        top: 90px;
    }

    @media screen and (max-width: 960px) {
        position: relative;
        width: calc(100% - 60px);
        margin: 30px;
        margin-top: 90px;
        left: auto;
        top: auto;
    }

    @media screen and (max-width: 600px) {
        margin: 20px;
        margin-top: 60px;
        width: calc(100% - 40px);
    }

    .login-form, .logged-in {
        display: none;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 30px;

        @media screen and (max-width: 1450px) {
            padding: 20px;
        }

        &.active {
            display: block;
        }

        .input-parent {
            position: relative;
            width: 100%;
            margin-bottom: 30px;

            @media screen and (max-width: 1450px) {
                margin-bottom: 20px;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: $color-main;
                border-radius: 1px;
                transform: scaleX(0.5);
                transform-origin: 0 0;
                transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
            }

            &.active {
                &::after {
                    transform: scaleX(1);
                }
            }

            input {
                padding: 2.08% 0;
                background: transparent;
                width: 100%;
                border-style: none;
                outline: none;
                color: $color-main;
            }
        }

        .sign-in-button {
            display: block;
            color: white;
            background: $color-secondary;
            width: 50%;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 10px;

            @media screen and (max-width: 1450px) {
                padding: 5px 0;
            }
        }

        .password-recovery-link, .logout-link {
            float: right;
        }

        .link {
            color: $color-main;
        }
    }
}

.right-content {
    display: inline-block;
    position: fixed;
    top: 130px;
    right: 2.5%;
    width: 25%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: 1450px) {
        top: 90px;
    }

    @media screen and (max-width: 960px) {
        position: relative;
        width: 90%;
        margin: 30px;
        margin-bottom: 130px;
        width: calc(100% - 60px);
        right: auto;
        top: auto;
    }

    @media screen and (max-width: 600px) {
        margin: 20px;
        margin-bottom: 80px;
        width: calc(100% - 40px);
    }

    .share-div {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 45px;
        padding-left: calc(3.8% + 20px);
        padding-right: 3.8%;
        background: white;

        .fb-button {
            width: 50px;
            height: auto;
            cursor: pointer;

            @media screen and (max-width: 1450px) {
                width: 35px;
            }
        }
    }

    .trending {
        display: inline-block;
        height: auto;
        width: 100%;
        margin: 0 0%;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 45px;
        padding-left: 3.8%;
        padding-right: 3.8%;

        @media screen and (max-width: 1450px) {
            padding-top: 20px;
            padding-bottom: 30px;

        }

        .blog-section-title {
            margin-left: 20px;
            text-transform: uppercase;
        }

        .trends {
            position: relative;
            width: 100%;

            max-height: 60vh;

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            a {
                text-decoration: none !important;

                &:last-child .trend {
                    border-bottom-style: none;
                    margin-bottom: 0;
                }
            }

            .trend {
                position: relative;
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                padding: 20px;
                padding-bottom: 20px;
                margin-bottom: 0;
                border-bottom-style: solid;
                border-bottom-color: #edeaea;
                border-bottom-width: 1px;
                overflow: hidden;

                &:hover {
                    border-bottom-color: transparent;
                    box-shadow: 0px 0px 40px 3px #ccc;
                    z-index: 0;

                    @media screen and (max-width: 960px) {
                        box-shadow: none;
                    }
                }

                .image {
                    position: absolute;
                    width: 18%;
                    padding-top: 18%;
                    left: 20px;
                    top: 20px;
                    background-size: cover;
                    background-position: center;
                }

                .title {
                    color: #5b576b;
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .category {
                        color: #a6a4b0;
                        max-width: 48%;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .date {
                        color: #a6a4b0;
                    }

                    .circle {
                        width: 3px;
                        height: 3px;
                        background-color: #a6a4b0;
                        border-radius: 50%;

                        @media screen and (max-width: 1280px) {
                            display: none;
                        }
                    }
                }
            }

        }
    }
}
