.tasks-page {

    .select, .select2 {
        width: auto;
        margin-bottom: 30px;
        min-width: 200px;

        @media screen and (max-width: 1450px) {
            width: 20px;
            min-width: 150px;
        }
    }

    .post {
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #636b6f;

        @media screen and (max-width: 1450px) {
            margin-bottom: 30px;
            padding-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        p, div {
            color: #cfcedc;

            &.title {
                position: relative;
                font-weight: bold;

                padding-right: 50px;

                @media screen and (max-width: 1450px) {
                    padding-right: 35px;
                }

                &.status-passed {
                    &::after {
                        content: "";
                        width: 50px;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-image: url(/images/check.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;

                        @media screen and (max-width: 1450px) {
                            width: 35px;
                        }
                    }
                }

                &.status-failed {
                    &::after {
                        content: "";
                        width: 50px;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-image: url(/images/cross.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;

                        @media screen and (max-width: 1450px) {
                            width: 35px;
                        }
                    }
                }
            }

            &.post-see-more {
                margin-top: 10px;
                color: #ff9d1b;
            }
        }

        .post-category {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            color: #f36624;
        }
    }

    .pagination {
        position: relative;
        margin-top: 30px;
        height: 20px;

        .pagination-link {
            color: #cfcedc;
            display: inline-block;

            &.prev {
                margin-right: 20px;
            }
        }
    }
}
