.tasks {
    padding: 5%;
    background-color: #78909C;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    .task {
        display: none;
        position: absolute;
        color: white;
        transition: transform 1s ease;

        &.active {
            display: block;
            position: relative;
            transform: translateX(0);
        }

        &.prev {
            transform: translateX(-100%);
        }

        &.next {
            transform: translateX(100%);
        }

        &.first {
            .title {
                .prev {
                    display: none;
                }
            }
        }

        &.last {
            .title {
                .next {
                    display: none;
                }
            }
        }

        .title {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            width: 100%;

            @media screen and (max-width: 1450px) {
                margin-bottom: 15px;
            }

            .prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                padding-top: 20px;
                background-image: url(/images/prev-task.svg);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                left: 0;
                cursor: pointer;

                @media screen and (max-width: 1450px) {
                    width: 15px;
                    padding-top: 15px;
                }
            }

            .next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                padding-top: 20px;
                background-image: url(/images/next-task.svg);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                right: 0;
                cursor: pointer;

                @media screen and (max-width: 1450px) {
                    width: 15px;
                    padding-top: 15px;
                }
            }
        }

        .collapsible {
            background: #455A64;
            color: white;

            &::after {
                color: white;
            }
        }

        .submit-answer {
            margin-top: 50px;

            @media screen and (max-width: 1450px) {
                margin-top: 35px;
            }

            p {
                color: black;
            }

            .answer {
                color: black;    
            }
        }
    }
}
